.button-style {
  background: var(--black);
  border-radius: 5px;
  padding: 10px 50px;
  cursor: pointer;
  font-size: 20px;
  color: var(--yellow-button-font);
  border-color: var(--yellow-button-border);
  transition: all 0.3s ease;
  z-index: 2;
}
